<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-size: larger;
        font-family: "Courier New", Courier, monospace;
      }
      p {
        font-size: larger;
      }
      .button {
        background-color: #35a566;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0.7rem 0.5rem;
      }
    </style>
  </head>
  <body>
    <h1>Chat-application</h1>
    <p>{{intro}}</p>
    <a href="{{verificationUrl}}" target="_blank" class="button">Click here</a>
    <p>{{outro}}</p>
  </body>
</html>
