@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: var(--color-background-900);
  /* background: white; */
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  /* border: 3px solid var(--color-background-900); */
  background: #565352;
}

.stars {
  background-size: 200px 200px;
  background-image: radial-gradient(
      2px 2px at 40px 60px,
      #ccc,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 20px 50px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 30px 100px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 40px 60px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 110px 90px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 190px 150px, white, rgba(0, 0, 0, 0));
  background-repeat: repeat;
}

.stars:first-of-type {
  animation: stars-move-right-1 200s linear infinite;
}

.stars:nth-of-type(2) {
  background-image: radial-gradient(
      2px 2px at 25px 35px,
      #ccc,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 55px 20px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 69px 42px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 42px 69px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 32px 90px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 150px 190px, white, rgba(0, 0, 0, 0));
  animation: stars-move-right-2 111s linear infinite;
}

.stars:nth-of-type(3) {
  background-image: radial-gradient(
      2px 2px at 60px 40px,
      #ccc,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 50px 20px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 100px 30px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 60px 40px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 110px, white, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 150px 190px, white, rgba(0, 0, 0, 0));
  animation: stars-move-right-3 69s linear infinite;
}

@keyframes stars-move-right-1 {
  to {
    transform: translateX(100%);
  }
}
@keyframes stars-move-right-2 {
  to {
    transform: translateX(100%) scale(2);
  }
}
@keyframes stars-move-right-3 {
  to {
    transform: translateX(100%) scale(3);
  }
}

.fancy-border-gradient::before {
  inset: 0;
  content: "";
  --angle: 0deg;
  position: absolute;
  border-radius: inherit;
  padding: 1.5px; /* control the border thickness */
  background: conic-gradient(
    from var(--angle),
    #3178c622,
    #3178c644 35%,
    #3178c688 39%,
    #3178c6,
    #3178c688 61%,
    #3178c644 65%,
    #3178c622
  );
  -webkit-mask-composite: xor;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  animation: 3s rotate linear infinite;
  mask-composite: exclude;
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.animation1 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.4s;
}

.animation2 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.2s;
}

.animation3 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: 0s;
}
